<template>
  <div>
    <ul id="example-1">        
        <li v-for="(item, index) in items" v-bind:key="index" v-bind:class="{done:item.done}"><div class="asd"> <button v-on:click="deleteItem(index)">удалить</button></div>
            <div> <span> {{ index + 1 }})  </span> <input type="checkbox" v-model="item.done"> {{ item.name }}</div>             
        </li>        
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Items',
  props:{
      items: {
          type: Array
      }
  },
  methods:{
      deleteItem(a){
          this.items.splice(a,1)
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul{
    width: 500px; margin: 0 auto; padding: 20px; border: 2px solid #000; text-align: left;
    font-family: arial; font-size: 20px;
}
li{
    display: block; padding: 8px; border: 1px solid red;
    margin: 10px 0;
    background: #fbd8d8;
}
li.done{
    border: 1px solid green; background: #c7f9c7;
}
div.asd{
    float: right;
}
li:after{
    display: table; content: ''; width: 100%; height: 0; clear: both;
}
[type="checkbox"]{
    width: 20px; height: 20px; vertical-align: middle;
}
</style>