<template>
  <div id="app">
  <h1>Todo list</h1>
    <table class="asdasd">
      <tr>
        <td>
            <div class="asd">
              <form v-on:submit.prevent="addItem">
                <input type="text" v-model="newItemText" placeholder="Введите новое задание">
                <input type="submit" value="Добавить">
              </form>
            </div>
            <Items v-bind:items="myItems"></Items>

                </td>
            <td>
           <div class="asd asd2">
      <pre> {{ JSON.stringify( myItems, null, '\t' ) }} </pre>
    </div>
        </td>
      </tr>
    </table>
    
   
  </div>
</template>
<script>
import Items from './components/Items.vue'

export default {
  name: 'App',
  components: {
    Items
  },
  data() {
    return{
      newItemText: '',
      myItems:[
        {
          "name":"Задание 1",
          "done":false
        },
        {
          "name":"Задание 2",
          "done":true
        },
        {
          "name":"Задание 3",
          "done":false
        }
      ]
    }
  },
  methods:{
    addItem(){
      let ob = {};
      ob.name = this.newItemText;
      ob.done = false;
      this.myItems.push(ob);
      this.newItemText = '';
    }
  }
}
</script>

<style scoped>
h1{
  text-align: center; font-size: 80px;
}
div.asd{
  padding: 20px 0;width: 500px; margin: 0 auto;
  text-align: left;
}
div.asd input[type="text"]{
  padding: 8px 10px; width: 300px; 
}
div.asd [type="submit"]{
  margin: 0 0 0 20px;
  padding: 8px 10px;
}
div.asd2{
  font-size: 20px;
}
.asdasd{
  width: 1100px; margin: 0 auto; vertical-align: top;
}
.asdasd td{
  vertical-align: top;
}
</style>
